#  Analysis on Chipotle Data
### Debdeep Ghosh

In [74]:
# 1. Importing the data

import pandas as pd

chipo = pd.read_csv('5457412.txt', sep = "\t")
print(chipo)

      order_id  quantity                              item_name  \
0            1         1           Chips and Fresh Tomato Salsa
1            1         1                                   Izze
2            1         1                       Nantucket Nectar
3            1         1  Chips and Tomatillo-Green Chili Salsa
4            2         2                           Chicken Bowl
...        ...       ...                                    ...
4617      1833         1                          Steak Burrito
4618      1833         1                          Steak Burrito
4619      1834         1                     Chicken Salad Bowl
4620      1834         1                     Chicken Salad Bowl
4621      1834         1                     Chicken Salad Bowl

                                     choice_description item_price
0                                                   NaN     $2.39
1                                          [Clementine]     $3.39
2                                               [Apple]     $3.39
3                                                   NaN     $2.39
4     [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98
...                                                 ...        ...
4617  [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...    $11.75
4618  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...    $11.75
4619  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...    $11.25
4620  [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...     $8.75
4621  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...     $8.75

[4622 rows x 5 columns]

In [34]:
# 2. Try the functions

chipo.head(10) # Display first 10 values
chipo.info()   # Display the types of the columns and data
chipo.shape    # Display the size of data, rows and columns
chipo.columns  # Display the column names
chipo.index    # Display the range index

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

RangeIndex(start=0, stop=4622, step=1)

In [35]:
# 3. Most ordered item and quantity
chipo_1 = chipo['item_name'].value_counts().nlargest(1).rename_axis('item_name').reset_index(name='Frequency')
print("Most ordered item and quantity")
print(chipo_1)

Most ordered item and quantity
      item_name  Frequency
0  Chicken Bowl        726

In [36]:
# 4. Most ordered item in choice description

chipo_choice_1 = chipo['choice_description'].value_counts().nlargest(1).rename_axis('choice').reset_index(name='Frequency')
print("Most ordered item and quantity")
print(chipo_choice_1)

Most ordered item and quantity
        choice  Frequency
0  [Diet Coke]        134

In [37]:
# 5. How many items were ordered in total

print("Quantity ordered in total")
chipo['quantity'].sum()

Quantity ordered in total

4972

In [38]:
# 6. Calculate Revenue
chipo.info()
# Removing $ from item_price and then converting item_price to float for the sum

chipo_itemprice = chipo
chipo_itemprice['item_price'] = chipo_itemprice['item_price'].map(lambda x: x.lstrip('$'))

chipo_itemprice['item_price'] = chipo_itemprice['item_price'].astype(float)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [61]:
print("Total revenue")
print('$',chipo_itemprice['item_price'].sum())

Total revenue
$ 34500.16

In [50]:
# 7. How many orders were made in the period

chipo_orders = chipo['order_id'].value_counts().rename_axis("Orders").reset_index(name = "Freq")
print("Total orders")
print(chipo_orders['Freq'].sum())

Total orders
4622

In [62]:
# 8. Average amount per order
chipo.columns
#chipo['item_price'].mean()

# Grouping item prices by order id
chipo_orderamt = chipo.groupby('order_id')['item_price'].mean()

# Average amount per order
print("Average amount per order")
print('$',chipo_orderamt.mean())

Average amount per order
$ 7.841910975496643

In [73]:
# 9. Different items sold

count = 0
visit = []

for i in range(0,len(chipo['item_name'])):
    if chipo['item_name'][i] not in visit:
        visit.append(chipo['item_name'][i])
        count +=1
print("Total amount of different items sold:", count)
print("Items: ")
for x in visit:
    print(x, end = ',')

Total amount of different items sold 50
Items:
Chips and Fresh Tomato Salsa,Izze,Nantucket Nectar,Chips and Tomatillo-Green Chili Salsa,Chicken Bowl,Side of Chips,Steak Burrito,Steak Soft Tacos,Chips and Guacamole,Chicken Crispy Tacos,Chicken Soft Tacos,Chicken Burrito,Canned Soda,Barbacoa Burrito,Carnitas Burrito,Carnitas Bowl,Bottled Water,Chips and Tomatillo Green Chili Salsa,Barbacoa Bowl,Chips,Chicken Salad Bowl,Steak Bowl,Barbacoa Soft Tacos,Veggie Burrito,Veggie Bowl,Steak Crispy Tacos,Chips and Tomatillo Red Chili Salsa,Barbacoa Crispy Tacos,Veggie Salad Bowl,Chips and Roasted Chili-Corn Salsa,Chips and Roasted Chili Corn Salsa,Carnitas Soft Tacos,Chicken Salad,Canned Soft Drink,Steak Salad Bowl,6 Pack Soft Drink,Chips and Tomatillo-Red Chili Salsa,Bowl,Burrito,Crispy Tacos,Carnitas Crispy Tacos,Steak Salad,Chips and Mild Fresh Tomato Salsa,Veggie Soft Tacos,Carnitas Salad Bowl,Barbacoa Salad Bowl,Salad,Veggie Crispy Tacos,Veggie Salad,Carnitas Salad,